body {
  font-family: "Open Sans", sans-serif;
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
}

#navbarDesktop {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: black;
  padding: 20px;
}

#navcontainer {
  width: 70%;
  margin: auto;
}

#navButtons {
  padding: 10px;
  margin-right: 10px;
  color: wheat;
  display: inline;
  float: right;
}

#name {
  display: inline;
  font-size: 20pt;
  color: wheat;
}

.block {
  height: calc(100vh);
  margin: auto;
  width: 70%;
}

#videoContainer {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#video {
  width: 100%;
}

.content {
  text-align: center;
  font-size: 24px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  text-align: center;
}

a {
  text-decoration: none;
  color: wheat;
}

.crewImageContainer {
  width: 30%;
  margin: 30px;
}

.crewImage {
  width: 100%;
}

.crewImages {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.crewInfo {
  display: none;
}
.name {
  font-size: 24px;
}

.major {
  font-size: 21px;
}

.class {
  font-size: 18px;
}

@media screen and (max-width: 620px) {
  .crewImages {
    display: block;
    text-align: center;
  }

  .crewImageContainer {
    width: 50%;
    margin: auto;
  }
}
